
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Halva";
    ViewBag.PageH1 = "Home";
}

Home page test.


@section navigation
{
<a href="example">Example</a>
}

@section footer
{
<p>This is a footer.</p>    
}
