
@using HalvaWebApplication.Models.GameItem;
@using HalvaWebApplication.Code.DataObjects;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Halva";
}

<h2>Recent Posts</h2>
@Html.Partial("_BlogPostLinkList", (List<BlogPost>)ViewBag.recentPosts)
<br />
<h2>Game Items</h2>
@Html.Partial("_GameItemModelLinkList", (List<GameItemModel>)ViewBag.gameItems)


@section navigation
{
@Html.Partial("_NavigationLinks")
}

@section footer
{
<p>This is a footer.</p>    
}
