@model HalvaWebApplication.Models.GameItem.GameItemModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.EditorForModel()
    <button type="submit">Submit</button>
}
