@model List<HalvaWebApplication.Code.DataObjects.BlogPost>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Blog Posts</h1>
@Html.Partial("_BlogPostLinkList")
@Html.ActionLink("Add Post", "Add")

@using (Html.BeginForm())
{
    @Html.TextBox("Filter")
    <input type="submit" value="Filter"/>
}

@section navigation
{
    @Html.Partial("_NavigationLinks")
}
